body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
}

h1{
  position: absolute;
  left: 100px;
  top: 10px;
  font-family: sans-serif;
  color: white;
}

h2{
    font-size: 75px;
    position: absolute;
    top: 265px;
    left: 10px;
    font-family: sans-serif;
    color: white;
}

.logo-image {
  width: 85px; /* Set the width of the image */
  left: 10px;
}


  /* Target the input text box */
  input[type="text"] {
    width: 400px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 450px;
    left: 10px;
  }

  /* Button */
  button {
    width: 100px;
    padding: 11px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    position: absolute;
    top: 450px;
    left: 435px;
    font-family: sans-serif;
  }

  p{
    font-size: 12px;
    position: absolute;
    top: 485px;
    color: white;
    font-family: sans-serif;
    left: 10px;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: black;
    font-family: sans-serif;
  }
